wheel
Django==3.2.10
orjson>=3.6.4 
django-ninja-auth>=0.1.5
django-extensions>=3.1.3
django-cors-headers>=3.7.0
django-debug-toolbar>=3.2.1
gunicorn>=20.1.0
uvicorn
psycopg2>=2.9.1
pylint>=2.9.5

redis
celery>=4.4.6
django-celery-beat>=2.0.0
django-celery-results>=1.2.1
ipython>=7.16.1 # Run django shell in interactive shell
flower>=0.9.5